<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <%= render :partial => "table_title" %>
        </div>
        <div class="ibox-content">
            <%= render :partial => "table" %>
        </div>
    </div>
</div>